In [74]:
import pandas as pd 
from pycaret.regression  import *

In [75]:
#1 Cargamos la data
df= pd.read_csv('ds_credito_vehicular.csv')

In [76]:
df.head()

,edad,ingresos_mensuales,estado_civil,historia_credito,nro_creditos_previos,cuota_vs_ingreso,vehiculo_propio,default
0,59,7668,Divorciado,Buena,2,0.64,0,1
1,49,6279,Casado,Buena,2,0.31,1,1
2,35,2722,Soltero,Mala,4,0.41,1,0
3,63,4314,Divorciado,Regular,4,0.57,0,0
4,28,4157,Soltero,Buena,1,0.34,0,0

In [77]:
reg=setup(data=df, target='default', session_id=123,normalize=True, categorical_features=['estado_civil','historia_credito'])

In [78]:
best_model = compare_models()

In [79]:
lasso=create_model('llar')

In [80]:
tuned_lasso = tune_model(lasso)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [81]:
evaluate_model(tuned_lasso)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

In [82]:
predicciones = predict_model(tuned_lasso)
print(predicciones.head())

     edad  ingresos_mensuales estado_civil historia_credito  \
72     35                6757      Soltero            Buena
112    43                3911      Soltero            Buena
132    29                6883       Casado            Buena
88     27                5389       Casado            Buena
37     27                5744       Casado          Regular

     nro_creditos_previos  cuota_vs_ingreso  vehiculo_propio  default  \
72                      4              0.11                0        0
112                     2              0.59                0        0
132                     0              0.42                0        0
88                      4              0.27                1        0
37                      0              0.38                1        1

     prediction_label
72           0.161905
112          0.161905
132          0.161905
88           0.161905
37           0.161905

In [83]:
save_model(tuned_lasso,'modelo_final_lasso')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['edad', 'ingresos_mensuales',
                                              'nro_creditos_previos',
                                              'cuota_vs_ingreso',
                                              'vehiculo_propio'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_impu...
                                                               verbose=0))),
                 ('normalize',
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=StandardScaler(copy=True,
                                                                with_mean=True,
                                                                with_std=True))),
                 ('trained_model',
                  LassoLars(alpha=1.0, copy_X=True, eps=2.220446049250313e-16,
                            fit_intercept=True, fit_path=True, jitter=None,
                            max_iter=500, positive=False, precompute='auto',
                            random_state=123, verbose=False))],
          verbose=False),
 'modelo_final_lasso.pkl')